@import "bootstrap/bootstrap";

@btn-font-weight: 300;
@font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif;

body, label, .checkbox label {
	font-weight: 300;
}

body {
	background: #000000;
	color: #FFFFFF;
}

.padding {
	padding: 25px 0;
}

h1, h1 * {
	font-size:	5em;
	font-weight:	800;
}

h2, h2 * {
	text-size: 3em;
	font-weight: 600;
}

.row {
	text-align: center;
}

a:link, a:visited, a:active, a:hover {
	text-align: center;
}

/* Centering the column vertically */
@media (max-width: 767px) {
  #content {
    margin-top: 10px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #content {
    margin-top: 20px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .content {
    margin-top: 50px;
  }
}
@media (min-width: 1200px) {
  .content {
    margin-top: 150px;
  }
}


